<section id="aboutusection">
    <div class="aboutus ">
        <div class="container d-flex flex-column">
            <div class="row aboutus-lable text-center">
                <p>WE 💚 WHAT WE DO.</p>
            </div>
            <div class="row aboutus-text text-center">
                <h3>Our telented teams craft the best code and design amazing user experience for our client</h3>
                <a href="https://bit.ly/2W67HeY" class="homebtn">Download Resume</a>
            </div>
        </div>
    </div>

    <div class="aboutus-images">
        <div class="container">
            <div id="aboutusimagecontrol" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/images/about us image 1.jpg" class="d-block w-50 aboutus-innerimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/about us image 2.jpg" class="d-block w-50 aboutus-innerimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/about us image 3.jpg" class="d-block w-50 aboutus-innerimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/about us image 4.jpg" class="d-block w-50 aboutus-innerimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/about us image 5.jpg" class="d-block w-50 aboutus-innerimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/about us image 6.jpg" class="d-block w-50 aboutus-innerimg" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#aboutusimagecontrol" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
                <button class="carousel-control-next" type="button" data-bs-target="#aboutusimagecontrol" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>

    <div class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="benefits-content">
                        <i class="fas fa-thumbs-up"></i>
                        <h3>Easy set up</h3>
                        <p>Your team works from our headquators and it ready to go within weeks.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="benefits-content">
                        <i class="fas fa-users"></i>
                        <h3>scaleble</h3>
                        <p>Start nimble and grow your team as your company does.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="benefits-content">
                        <i class="fas fa-user "></i>
                        <h3>top telent</h3>
                        <p>2 year of experience and a large network of English speaking professionals.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-md-5">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="benefits-content">
                        <i class="fas fa-clock"></i>
                        <h3>same time zone</h3>
                        <p>we are IST time, we share your office hours.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="benefits-content">
                        <i class="far fa-building"></i>
                        <h3>solid infrastructure</h3>
                        <p>A large, modern office space, great connectivity right on the Caribbean.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="benefits-content">
                        <i class="fas fa-smile"></i>
                        <h3>Your culture</h3>
                        <p>Consider your team an extension of your conpaney;your culter,your processes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>