<!-- ***** Features Big Item Start ***** -->
<div class="tutorial">
    <section data-aos="zoom-in-up" data-aos-duration="2000" class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="assets/images/uploading.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Upload your Notes</h2>
                    </div>
                    <div class="left-text">
                        <p>Sign up for Free and upload your Document Study noted , Questionbanks or anything related to study material and guides on College Space</p>
                    </div>
                    <a href="#" class="homebtn" data-bs-toggle="modal" data-bs-target="#uploadModal">Find out how</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
            <!-- Upload Modal -->
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModaltitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModaltitle">Upload Notes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="modalimage">
                                <img class="uploadmodalimg" src="../../assets/images/going_up.png" alt="">
                            </div>
                            <div class="modalcontent">
                                <p>Sign up for Free and upload your Document Study noted , Questionbanks or anything related to study material and guides on College Space</p>
                                <hr>
                                <div class="row mt-3">
                                    <div class="col steptext">
                                        <span>Step 1</span>
                                        <p>Select your File</p>
                                    </div>
                                    <div class="col stepimg">
                                        <img class="img-fluid" src="../../assets/images/Upload Section.png" alt="select File to upload">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col stepimg">
                                        <img class="img-fluid" src="../../assets/images/Upload Section2.png" alt="click on upload button">
                                    </div>
                                    <div class="col steptext">
                                        <span>Step 2</span>
                                        <p>Click Upload button</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col steptext">
                                        <span>Step 3</span>
                                        <p>and...Done</p>
                                    </div>
                                    <div class="col stepimg">
                                        <img class="img-fluid" src="../../assets/images/uploadsection success.png" alt="Done">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section data-aos="zoom-in-up" data-aos-duration="2000" class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Accessible anywhere at any time</h2>
                    </div>
                    <div class="left-text">
                        <p>You can download any study material from anywhere and any time if you have device that can access internet</p>
                    </div>
                    <a href="#" class="homebtn" data-bs-toggle="modal" data-bs-target="#downloadModal">Find out how</a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="assets/images/downloading.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
            <!--Download Modal -->
            <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadmodaltitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="downloadmodaltitle">Download Notes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="modalimage">
                                <img class="uploadmodalimg" src="../../assets/images/download files.png" alt="">
                            </div>
                        </div>
                        <div class="modalcontent">
                            <p>You can download any study material from anywhere and any time if you have device that can access internet</p>
                            <hr>
                            <div class="row mt-3">
                                <div class="col steptext">
                                    <span>Step 1</span>
                                    <p>Go to download section</p>
                                </div>
                                <div class="col stepimg">
                                    <img class="img-fluid" src="../../assets/images/download section 1.png" alt="Go to download section">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col stepimg">
                                    <img class="img-fluid w-75" src="../../assets/images/download section 2.png" alt="Click download button">
                                </div>
                                <div class="col steptext">
                                    <span>Step 2</span>
                                    <p>Click button next to any file</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col steptext">
                                    <span>Step 3</span>
                                    <p>and...Done</p>
                                </div>
                                <div class="col stepimg">
                                    <img class="img-fluid w-50" src="../../assets/images/download section 3.png" alt="Done">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- ***** Features Big Item End ***** -->
