<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1 data-aos="fade-down">We provide the best <strong>NOTES</strong><br>to grow up your <strong>KNOWLEDGE</strong></h1>
                    <p data-aos="fade-down">The Best study guides and notes shared by your fellow students, organized in one place.</p>
                    <a href="#features" class="main-button-slider btn homebtn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<div class="box">
    <span></span>
    <span></span>
    <span></span>
</div>>
<!-- ***** Welcome Area End ***** -->
